@tailwind base;
@tailwind components;
@tailwind utilities;

.h1{
    font-family: 'Poppins', sans-serif;
    font-size: 48px ;
}

.click{
    -webkit-tap-highlight-color:transparent;
    border-radius: 999px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


  body{
overflow: hidden;
  }


  .c-scrollbar {
    opacity: 1 !important;
  }